/****** General ***********/
*{
    font-family: 'Raleway', sans-serif;
    font-size:16px;
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
.fa-solid {
    color: var(--main-color);
}
.body1 {
    margin:0px;
}
.main-container {
    margin:0 auto;
    width: 100%; max-width: 1440px;
    display:flex;
    flex-direction: column;
    gap:30px;
}
main, footer{
    padding: 0 50px;
}
a {
    color: inherit;
    text-decoration: none;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
    object-fit: cover;
}
.euro {
    font-weight: 700;
}
.neutral-star {
    color: var(--main-bg-color)
}
h1{
    margin:0;
    font-size:22px;
    line-height:25.83px;
}
h2{
    font-size:18px;
    line-height:21.13px;
}
.fontmoy {
 font-size: 18px;
}
/****** HEADER ***********/
header { /*logo et menu de navigation*/
    width:100%;
    display :flex;
    justify-content: space-between;
    }
.logoheader { /*Encart comprenant l'image logo*/
    width:11%;
    padding:30px 50px 30px 50px;
    }
#logo { /*image logo*/
    width: 61.09px;
    height: 19px;
    }    
nav { /*Menu de navigation*/
    padding:0px 50px 0px 50px;
    width: 24%;
    }
nav ul { /*Liste dans le menu de navigation*/
    gap:68px;
    list-style: none;
    display: flex;
    margin:0;
    padding:0;
    }
nav li { /*Eléments de la liste : Hébergement / Activités*/
    padding-top:15px;
    width:100%;
    text-align:center;
    }
nav li:hover { /*Barre bleu + changement de couleur de police des éléments de la liste lors du survol de la souris dessus*/
    color:var(--main-color);            
    border-top: 2px solid var(--main-color);
    line-height:16.78px;
}
/****** Main ***********/
.encart-recherche{ /*Encart de recherche*/
    display:flex;
    flex-direction: column;
    width:calc(100% - 50px);
    gap:35px;
    margin-bottom: 30px;
    }
#barrederecherche{  /***Barre de recherche***/
    display:flex;
    height:49px;
    width:377px;
    border-radius: 15px;
    gap:24px;
    border:1px solid var(--main-bg-color);
}
.boutonlocalisation { /**Bouton localisation**/
    width:15%;
    border-radius: 15px 0px 0px 15px;
    border:none;
    padding: 15px 0px 15px 0px;
}
.zonesaisieville{ /**zone de saisie**/
    width:45%;
    border:none;
    font-weight:700;
}
.boutonrecherche{ /**Bouton Rechercher**/
    border:none;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--main-color);
    color:#FFFFFF;
    padding:15px 16px 15px 16px;
    font-weight: 700;
}
.icone-recherche{ /*Icône de recherche qui s'affiche en small device uniquement en remplacement du texte recherche*/
    display:none;
}
.filtresrecherche{ /***Encart des filtres de recherche***/
    display:flex;
    align-items: center;
    gap:15px;
}
.textefiltre{ /*Texte "Filtres" avant boutons de filtres*/
    font-weight: 700;
}
.boutonfiltre{ /*Boutons de filtres*/
    height:50px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    background-color: transparent;
    padding:4px 19px 4px 19px;
    gap:10px;
    font-weight: 700;
    font-size:17px;
    display:flex;
    align-items: center;
}
.boutonfiltre:hover{ /*Changement couleur de fond lors du survolement de la souris sur bouton de filtre*/
    background-color:var(--filter-bg-color);
}
.texteinforesultatsrecherche{ /*Texte d'info sous la barre de filtres*/
    display:flex;
    gap:10px;
}
/****** Hebergements et Populaires ***********/
.hebergements-et-populaires {
    display: flex;
    gap:40px;
}
.hebergements-et-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}
/****** Hebergements ***********/
.hebergements{ /*Encart hébergement*/
    width:68%;
}
.hebergements-cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}
.itemhebergement:nth-child(n+1):nth-child(-n+3){
    flex-basis:calc(33% - 30px);
}
.itemhebergement:nth-child(n+4):nth-child(-n+6){
    flex-basis:calc(33% - 30px);
}
.hebergements-cards .card{
    margin-top:33px;
}
.hebergements-cards img{
    width:100%;
    height:124px;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
}
.hebergements-cards .card-content {
    min-height:115px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.hebergements-cards .card-subtitle {
    margin: 0;
}
.hebergements-cards .card-rating {
    margin-bottom: 5px;
}
.afficherplushebergement{ /*Bouton "Afficher plus"*/
    width:100%;
    font-weight:700;
    margin-top:30px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires.cards{
    width:calc(86% - 30px);
}
.populaires-cards a{
    width:100%;
}
.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}
.populaires-cards img {
    width: 33%;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.populaires-cards .card-subtitle {
    margin: 0;
}
.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/****** Activités ***********/
.encartactivites{
    width:calc(100% - 50px);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap:30px;
    padding:30px;
}

.cartes-activites .card{
    width: calc(100% - 10px);
    padding:0;
    height:100%;
}
.encartactivites .section-title {
    width:100%;
    line-height: 51.66px;
    font-weight: 700;
}
.cartes-activites{
    width:100%;
    display:flex;
    flex-direction:row;
    gap:30px;
}
.cartes-activites a {
    width:25%;
    display:flex;
    justify-content:center;
}
.cartes-activites img{
    width:100%;
    height:calc(100% - 37.56px - 40px);
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
}
.cartes-activites .card-content{
    display:flex;
    width:calc(100% - 40px);
    height:37.56px;
    border-radius: 0 0 20px 20px;
    padding:20px 19px 20px 19px;
    gap:10px;   
}
.cartes-activites .card-title{
    font-weight:700;
    line-height:18.78px;
}
/****** Footer ***********/
footer{
    display:flex;
    padding: 0 50px;
    min-height:163px;  
}
footer section{
    width:33%;
    height:163px;
    padding:20px;
    background-color: var(--main-bg-color);
}
footer ul{
    list-style: none;
    padding-left:0px;
    font-weight:400;
    line-height:21px;
}
footer li{
    line-height:30px;
}