/****** General ***********/
*   {
    font-family: 'Raleway', sans-serif;
}
:root{
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
.fa-solid {
    color: var(--main-color);
            }
.body1 {
    margin:0px;
}
.main-container {
    margin:0 auto;
    width: 100%; max-width: 1440px;
    display:flex;
    flex-direction: column;
    gap:30px;
}
main, footer{
    padding: 0 50px;
}
a {
    color: inherit;
    text-decoration: none;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
    object-fit: cover;
}
.euro {
    font-weight: 700;
}
.neutral-star {
    color: var(--main-bg-color)
}
h1, h2{
    margin:0;
    font-size:22px;
    line-height:25.83px;
}
h3{
    font-size:16px;
    margin:0;
}
h4{
    font-size:18px;
    line-height:21.13px;
    margin:0;
    padding-bottom:15px;
}
.fontmoy {
    font-size: 18px;
}
/****** HEADER ***********/
header { /*logo et menu de navigation*/
    width:100%;
    display :flex;
    justify-content: space-between;
}
.logoheader { /*Encart comprenant l'image logo*/
    padding:30px 50px 30px 50px;
}
#logo { /*image logo*/
    width: 61.09px;
    height: 19px;
}    
nav { /*Menu de navigation*/
    padding:0px 50px 0px 50px;
}
nav ul { /*Liste dans le menu de navigation*/
    gap:68px;
    list-style: none;
    display: flex;
    margin:0;
    padding:0;
}
nav li { /*Eléments de la liste : Hébergement / Activités*/
    padding-top:15px;
    width:100%;
    text-align:center;
}
nav li:hover { /*Barre bleu + changement de couleur de police des éléments de la liste lors du survol de la souris dessus*/
    color:var(--main-color);            
    border-top: 2px solid var(--main-color);
    line-height:16.78px;
}
/****** Main ***********/
.encart-recherche{ /*Encart de recherche*/
    display:flex;
    flex-direction: column;
    gap:35px;
    margin-bottom: 30px;
}
#barrederecherche{  /***Barre de recherche***/
    display:flex;
    height:49px;
    width:100%;
    max-width:377px;
    border-radius: 15px;
    gap:24px;
    border:1px solid var(--main-bg-color);
}
input:focus{
   outline:none;
}
.boutonlocalisation { /**Bouton localisation**/
    width:15%;
    border-radius: 15px 0px 0px 15px;
    border:none;
    padding: 15px 0px 15px 0px;
}
.zonesaisieville{ /**zone de saisie**/
    width:45%;
    border:none;
    font-weight:700;
    padding-left:0;
}
.boutonrecherche{ /**Bouton Rechercher**/
    border:none;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--main-color);
    color:#FFFFFF;
    padding:15px 16px 15px 16px;
    font-weight: 700;
}
.icone-recherche{ /*Icône de recherche qui s'affiche en small device uniquement en remplacement du texte recherche*/
    display:none;
}
.filtresrecherche{ /***Encart des filtres de recherche***/
    display:flex;
    align-items: center;
    gap:15px;
}
.textefiltre{ /*Texte "Filtres" avant boutons de filtres*/
    font-weight: 700;
}
.boutonfiltre{ /*Boutons de filtres*/
    height:50px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    background-color: transparent;
    padding:4px 19px 4px 19px;
    gap:10px;
    font-weight: 700;
    font-size:17px;
    display:flex;
    align-items: center;
}
.boutonfiltre:hover{ /*Changement couleur de fond lors du survolement de la souris sur bouton de filtre*/
    background-color:var(--filter-bg-color);
}
.texteinforesultatsrecherche{ /*Texte d'info sous la barre de filtres*/
    display:flex;
    gap:10px;
}
/****** Hebergements et Populaires ***********/
.encart-hebergements-et-populaires { 
    display: flex;
    gap:40px;
}
.encart-hebergements-et-populaires section { /*Blocs hébergement / populaire*/
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}
.encart-hebergements{ /*Encart hébergement*/
    width:68%;
}
.ensemble-cartes-hebergements{ /*Encart contenant les cartes*/
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}
.itemhebergement:nth-child(n+1):nth-child(-n+3){ /*Positionnement des cartes en deux rangées de trois cartes*/
    flex-basis:calc(33% - 30px);
}
.itemhebergement:nth-child(n+4):nth-child(-n+6){ /*Positionnement des cartes en deux rangées de trois cartes*/
    flex-basis:calc(33% - 30px);
}
.ensemble-cartes-hebergements .card{ /*Carte contenue dans bloc article a - contenant img + card-content*/
    margin-top:33px;
}
.ensemble-cartes-hebergements img{
    width:100%;
    height:124px;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
}
.ensemble-cartes-hebergements .card-content { /*Contenant card-title - card-subtitle - rating*/
    min-height:115px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ensemble-cartes-hebergements .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.ensemble-cartes-hebergements .card-subtitle {
    margin: 0;
}
.ensemble-cartes-hebergements .card-rating {
    margin-bottom: 5px;
}
.afficherplushebergement{ /*Bouton "Afficher plus"*/
    width:100%;
    font-weight:700;
    margin-top:30px;
}
/****** Populaires ***********/
.encart-populaires { 
    width: 32%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
.titre-icone-encartpopulaires { /*Titre encart*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ensemble-cartes-populaires{ /*Lien contenant carte individuelle*/
    display:flex;
    flex-direction:column;
    width:100%;
}
.ensemble-cartes-populaires .card { /*Carte contenant img et cart-content*/
    display: flex;
    margin-top: 33px;
}
.ensemble-cartes-populaires img {
    width: 33%;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.ensemble-cartes-populaires .card-content { /*Contenant card-title / card-subtitle / card-rating*/
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ensemble-cartes-populaires .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.ensemble-cartes-populaires .card-subtitle {
    margin: 0;
}
.ensemble-cartes-populaires .card-rating {
    margin-bottom: 5px;
}
/****** Activités ***********/
.encart-activites{
    width:calc(100% - 50px);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap:30px;
    padding:30px;
}
.encart-activites .section-title { /*Titre section Activités*/
    width:100%;
    line-height: 51.66px;
}
.ensemble-cartes-activites{ /*Contenant les cartes*/
    display:flex;
    gap:30px;
}
.ensemble-cartes-activites a {
    width:25%;
}
.ensemble-cartes-activites .card{ /*Cartes contenues dans lien a - contient img et card-content*/
    width: calc(100% - 10px);
    padding:0;
    height:100%;
}
.ensemble-cartes-activites img{
    width:100%;
    height:380px;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
}
.ensemble-cartes-activites .card-content{
    border-radius: 0 0 20px 20px;
    padding:20px 19px 20px 19px;
}
/****** Footer ***********/
footer{
    display:flex;
}
footer section{ /*Trois sections*/
    width:33%;
    padding:20px;
    background-color: var(--main-bg-color);
}
footer ul{ /*Listes*/
    display:flex;
    flex-direction:column;
    gap:15px;
    list-style: none;
    padding-left:0px;
    margin:0;
}
footer li{ /*Eléments des listes*/
    line-height:30px;
}
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .encart-hebergements-et-populaires { 
        flex-direction:column;
    }
    .ensemble-cartes-populaires{
        flex-direction:row;
        justify-content:space-between;
    }
    .ensemble-cartes-populaires a{
        width:31%;
    }
    .encart-hebergements, .encart-populaires{
        width:calc(100% - 50px);
    }
    .ensemble-cartes-populaires .card {
        margin-top: 20px;
    }
    .filtresrecherche{
        flex-wrap: wrap;
    }
    .textefiltre{ /*Texte "Filtres" avant boutons de filtres*/
        flex-basis:100%;
    }
    .ensemble-cartes-activites img{
        height:200px;
    }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    header,.ensemble-cartes-populaires, .ensemble-cartes-hebergements, .ensemble-cartes-activites, footer{
        flex-direction:column;
    }
    main{
        padding:0;
    }
    .logoheader{
        width:calc(100% - 60px);
        display:flex;
        justify-content: center;
        padding:30px;
    }
    nav{
        border-bottom:2px solid var(--main-bg-color);
        width:100%;
        padding:0;
    }
    nav ul{
        gap:0;
    }
    nav li {
        margin-right:0;
        padding-bottom: 15px;
    }
    nav li:hover {
        border-bottom: 2px solid var(--main-color);
        border-top:none;
        line-height:20.78px;
    }
    .encart-recherche{
        width:calc(100% - 40px);
        padding:20px;
    }
    #barrederecherche{
        justify-content:space-between;
    }
    .rechercher-texte{
        display:none;
    }
    .boutonrecherche{
        width:49px;
        border-radius:15px;
        filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .icone-recherche{
        display:inline-block;
    }
    .boutonfiltre{
        flex-basis:calc(50% - 10px);
        font-size:14px;
    }
    .encart-hebergements-et-populaires{
        flex-direction:column-reverse;
    }
    .encart-hebergements-et-populaires section, footer{
        padding:0;
        border-radius:0;
        width:100%;
    }
    .titre-icone-encartpopulaires, .encart-hebergements .section-title, .ensemble-cartes-populaires, .ensemble-cartes-hebergements{
        padding:20px;
        width:calc(100% - 40px);
    }
    .ensemble-cartes-populaires, .ensemble-cartes-hebergements, .ensemble-cartes-activites{
        gap:15px;
    }
    .ensemble-cartes-hebergements .card, .ensemble-cartes-populaires .card{
        margin-top:0;
    }
    .ensemble-cartes-populaires a{
        width:100%;
    }
    .encart-hebergements .section-title, .ensemble-cartes-hebergements{
        background-color: white;
    }
    .ensemble-cartes-hebergements .card-content{
        justify-content: flex-start;
        min-height:auto;
    }
    .encart-activites{
        padding:30px;
        width:calc(100% - 60px)
    }
    .ensemble-cartes-activites{
        height:auto;
        width:100%;
    }
    .ensemble-cartes-activites a{
        width:100%;
    }
    .ensemble-cartes-activites .card{
        width:100%;
    }
    .ensemble-cartes-activites img{
        height:141px;
    }
    footer section{
        width:calc(100% - 40px);
    }
}
